<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h4 class="modal-title" id="myModalLabel"><span class="warning-sign glyphicon glyphicon-warning-sign"></span>{{title}}</h4>
</div>
   
<div class="modal-body">
  
  {{#if message1}}
   <div class="modal-header-box">
     {{message1}}
   </div>
  {{/if}}  

  {{#if message2}}
   <div class="modal-warning-box">
     <span class="confirm-sign glyphicon glyphicon-hand-right"></span> {{message2}} 
   </div>
  {{/if}} 

</div>

<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>  
</div>