.wrapper {
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
}

#logo-box {

}

#logo {
  margin-left: auto;
  margin-right: auto;
}

.left-box {
  background-color: #f6f5f5;
}

#menu-box {

}