{% extends "home_base2.html" %}

{% block sub_scripts %}

<script src="{{ STATIC_URL }}scripts/backbone_application_buttons.js"></script>
<script src="{{ STATIC_URL }}scripts/backbone_application_buttons_groups.js"></script>
<script src="{{ STATIC_URL }}scripts/backbone_group_admin_groups.js"></script>

{% endblock %}

{% block subContent %}

<div id="application-box">
  <div class="clean"></div> 
</div>

<div class="page-section-header">Groups</div>

<table class="table table-striped table-hover" id="admin-groups-list-table">
  <thead>
    <tr class="table-header">
      <td></td>
      <td>Name</td>
      <td>Group Admin</td>
      <td>Total Members</td>
      <td>Total Models</td>
      <td>Created</td>
    </tr>
  </thead>
  <tfoot>
    <tr class="table-footer">
      <td colspan="6" id="pagination_admin_group">    
      </td>
    </tr>
  </tfoot>
</table>

<!-- Modal -->
<div class="modal fade" id="editViewModal" tabindex="-1" role="dialog" aria-labelledby="instance-details-modal" aria-hidden="true">
  <div class="modal-dialog" id="modal-dialog">
    
  </div><!-- /.modal-dialog -->
</div>

{% endblock %}