{% extends "home_base2.html" %}

{% block sub_scripts %}
<script src="{{ STATIC_URL }}scripts/backbone_notifications.js"></script>
{% endblock %}

{% block subContent %}

<div class="page-section-header">Notifications</div>

<table class="table table-striped table-hover" id="notification-list-table">
  <thead>
    <tr class="table-header">
      <td>Title</td>
      <td>Content</td>
      <td>Sent By</td>
      <td>Created Time</td>
    </tr>
  </thead>
  <tfoot>
    <tr class="table-footer">
      <td colspan="5" id="pagination_notification">
      </td>
    </tr>
  </tfoot>
</table>
  
{% endblock %}